<!-- web/templates/emissions.html -->
{% extends "base.html" %}

{% block content %}
    <!-- Page Header -->
    <h1 class='text-center mt-2 mb-2'>
        Most C02-Expensive Energy Sources, 1973-2016 
    </h1>
    <!-- D3.js Anaimation goes here -->
    <div class="row">
        <div class="data-area">
            <div class="control">
                <!-- Range controllers -->
                <h3>Time Frame</h3>
                <div class="control-date">
                    <input class="underlined-input" type="number" value="2004" min="2004" max="2017" />
                    <p>to</p>
                    <input class="underlined-input" type="number" value="2005" min="2004" max="2017" />
                </div>
        
        
                <!-- Trend controllers -->
                <h3>Selected columns</h3>
                <div class="control-column">
                    <ul>
                        {% for category in categories%}
                            <li class="control-column-item checked">
                                {{ category }}<input type="color" value="#000000" />
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        
                <!-- Update the chart -->
                <div class="control-button">
                    <input type="button" onclick="updateChart()" value="Update chart">
                </div>
            </div>
        
            <!-- Rendered chart -->
            <div class="chart">
                <div class="ct-chart ct-perfect-fourth"></div>
            </div>
        </div>
    </div>
   
{% endblock %}